<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>top page</title>
<style type="text/css">
body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}
pre {
	font-size: 13pt;
	color: gray;
	padding: 5px 10px;
	border: solid 1px gray;
}
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}
</style>
</head>
<body>
	<h1>Helo Page</h1>
	<pre th:text="${msg}">please wait...</pre>
	<form method="post" action="/">
		<div>
			<input type="checkbox" name="check1" id="check1" />
			<label for="check1">チェック</label>
		</div>
		<div>
			<input type="radio" name="radio1" id="radioA" value="male" />
			<label for="radioA">男性</label>
		</div>
		<div>
			<input type="radio" name="radio1" id="radioB" value="female" />
			<label for="radioB">女性</label>
		</div>
		<div>
			<select name="select1" id="select1" size="4">
				<option value="Windows">Windows</option>
				<option value="Mac">Mac</option>
				<option value="Linux">Linux</option>
			</select>
			<select name="select2" id="select2" size="4" multiple="multiple">
				<option value="Android">Android</option>
				<option value="iphone">iPhone</option>
				<option value="Winfone">Window Phone</option>
			</select>
		</div>
		<input type="submit" value="Click" />
	</form>
</body>
</html>